--pre
--index-url https://download.pytorch.org/whl/nightly/cu128
torch
torchvision
torchaudio

--extra-index-url https://pypi.org/simple
causal-conv1d>=1.4.0
databento
gymnasium
mamba-ssm
matplotlib
numba>=0.62.0
numpy
pandas
pyarrow
stable-baselines3
tqdm
torchao
wandb
